<div class="option" id='o1' routerLink="aboutus" routerLinkActive="active">
  <label>{{ 'about_us' | translate }}</label>
</div>
<div class="option" id='o2' routerLink="mostvisited" routerLinkActive="active">
  <label>{{ 'tops' | translate }}</label>
</div>
<div class="option" id='o3' routerLink="alldestinations" routerLinkActive="active">
  <label>{{ 'all_destinations' | translate }}</label>
</div>
<div class="option" id='o4' routerLink="suggest" routerLinkActive="active">
  <label>{{ 'sugest_destination' | translate }}</label>
</div>
<div class="option" id='o5' routerLink="contact" routerLinkActive="active">
  <label>{{ 'contact' | translate }}</label>
</div>
<div *ngIf="userSVC.isConnected" class="option" id="o6" routerLink="myprofile" routerLinkActive="active">
  <label>{{ 'my_profile' | translate }}</label>
</div>
