#globe {
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 10px 0 0;
}

h1 {
  position: absolute;
  color: black;
  margin: 0;
  bottom:10px;
  left: 70px;
}

#logo-name {
  position: absolute;
  left: 3%;
  top: 10%;
  max-height: 100px;
  width: 350px;
}

#not-connected,
#connected {
  position: absolute;
  right: 3%;
  top: 0;
}

a {
  color: black;
}

a:hover {
  color: blue;
  cursor: pointer;
}

#logout {
  position: absolute;
  right: 0;
  text-decoration: underline;
}

#username {
  margin-bottom: 0; 
}