#globe {
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 10px 0 0;
}

h1 {
  color: black;
  margin: 0;
}

#logo-name {
  position: absolute;
  left: 3%;
  top: 10%;
  max-height: 100px;
  width: 50%;
}

#not-connected,
#connected {
  position: absolute;
  right: 3%;
  top: 10%;
}

a {
  color: black;
}

a:hover {
  color: blue;
}

