<div class='window'>
  <div class="form-title">
    <h2>Sign up</h2>
  </div>
  <hr>
  <div class="form">
    <div class="form-field">
      <label>Username:</label>
      <input class="text-field" id="name" type="text" name="username" placeholder="Fill with your username..."/>
    </div>
    <div class="form-field">
      <label>Password:</label>
      <input class="text-field" type="password" name="password" placeholder="Fill with your password..."/>
    </div>
    <div class="form-field">
      <label>Confirm password:</label>
      <input class="text-field" type="password" name="password" placeholder="Fill with your password..."/>
    </div>
    <button class="button" routerLink="">Sign up</button>
  </div>
</div>
