<div class="option" id='o1' routerLink="aboutus" routerLinkActive="active">
  <label>About us</label>
</div>
<div class="option" id='o2' routerLink="mostvisited" routerLinkActive="active">
  <label>Most visited</label>
</div>
<div class="option" id='o3' routerLink="map" routerLinkActive="active">
  <label>Map</label>
</div>
<div class="option" id='o4' routerLink="suggest" routerLinkActive="active">
  <label>Suggest a destination</label>
</div>
<div class="option" id='o5' routerLink="contact" routerLinkActive="active">
  <label>Contact</label>
</div>
<div *ngIf="isConnected" class="option" id="o6" routerLink="myprofile" routerLinkActive="active">
  <label>My profile</label>
</div>
