<div class="option" id='o1'>
  <a href='ManuePages/AboutUs/AboutUsHTML.html' target="ecran" onclick="ecranactiv('o1')">Despre noi</a>
</div>
<div class="option" id='o2'>
  <a href="ManuePages/MostVisited/MostVisetedHTML.html" target="ecran" onclick="ecranactiv('o2')">Cele mai vizitate destinatii</a>
</div>
<div class="option" id='o3'>
  <a href="ManuePages/DestinationsList/DestinationsListHTML.html" target="ecran" onclick="ecranactiv('o3')">Lista completa a destinatiilor</a>
</div>
<div class="option" id='o4'>
  <a href='ManuePages/NewDestination/NewDestinationHTML.html' target="ecran" onclick="ecranactiv('o4')">Sugereaza o noua destinatie</a>
</div>
<div class="option" id='o5'>
  <a href='ManuePages/Contact/ContactHTML.html' target="ecran" onclick="ecranactiv('o5')">Contact</a>
</div>
<div class="option" id="o6">
  <a href='ManuePages/MyProfile/MyProfileHTML.html' target="ecran" onclick="ecranactiv('o6')">Profilul meu</a>
</div>
