/* You can add global styles to this file, and also import other style files */


.window{
  position: relative;
  height: 60%;
  width: 40%;
  top: 100px;
  left: 30%;
  background-color: #c2d1f0;
  border: 1px solid #adc2eb;
  border-radius: 25px;
  box-shadow: 7px 7px #ebf0fa;
}

.form-title {
  position: relative;
  color: #404040;
  height: 20%;
  border-bottom: 1px solid grey;
}

.form {
  width: 100%;
  margin-top: 15%;
}

.form-field {
  position: relative;
  width: 100%;
  color: #404040;
  text-align: center;
  margin-top: 10%;
}


.text-field {
  background-color: azure;
  width: 200px;
  margin-left: 10px;
  padding: 3px;
  text-decoration-color: #8c8c8c;
  font-size: small;
  font-style: italic;
}

.button {
  height: 30px;
  width: 130px;
  font-size: small;
  cursor: pointer;
  color: #404040;
}

.active {
  background-color: #c2d1f0;
}
