app-menu {
  position: fixed;
  height: 75%;
  width: 30%;
  top: 20%;
  left: 0;
  border-right: 2px solid black;
}

.screen {
  position: fixed;
  height: 73%;
  width: 65%;
  top: 20%;
  right: 4%;
  left: 31%;
  padding: 20px;
  overflow: auto;
}
